 /* Tip: Logo title container styles */
.logo-title-container {

  /* Tip: margin-top: 20px !important; - add top margin for better spacing */
  margin-top: 0px !important;
  /* Tip: padding: 20px; - add padding for better layout */
  padding: 50px;
}



 /* Tip: Logo title styles */
.logo-title {
  /* Tip: margin: 0; - remove margin */
  margin: 0;
  /* Tip: padding-top: 10px; - 10px top padding */
  padding-top: 10px;
  /* Tip: line-height: 1.2; - line height 1.2 */
  line-height: 1.2;
  /* Tip: font-size: 3rem; - even larger font size for prominent display */
  font-size: 55px;
}

